@use "./Variables" as *;
// Form
.active-auth-in {
  &::after {
    transform: translateX(0%);
  }
  #in-active {
    color: #000000;
  }
}
.active-auth-up {
  color: #000000;
  &::after {
    transform: translateX(100%);
  }
  #up-active {
    color: #000000;
  }
}
// Buttons
.button-disabled {
  opacity: 0.5 !important;
  cursor: not-allowed;
}
// search bar events
.search-visible {
  opacity: 1 !important;
  transform: translateY(0%) !important;
}
.search-hidden {
  opacity: 0;
  transform: translateY(-100%);
}
