@use "./Variables" as *;
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html {
  font-size: 32px;
}
body {
  background-color: whitesmoke;
}
img {
  user-select: none;
  font-size: 14px;
}
a {
  text-decoration: none;
}

::selection {
  color: #ffffff;
  background-color: $primaryColor;
}

// Fonts sizes
h1,
.main-heading {
  font-size: $mainHeading;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
}
h2,
.sub-heading {
  font-size: $subHeading;
}
h3,
.small-heading {
  font-size: $smallHeading;
}
.large-paragraph {
  font-size: $largeParagraph;
}
.small-paragraph {
  font-size: $smallParagraph;
}

// font colors
.font-secondary {
  color: $secondaryColor;
}
.font-primary {
  color: $primaryColor;
}
.font-gray-700 {
  color: $gray700;
}

.font-gray-600 {
  color: $gray600;
}

.font-gray-300 {
  color: $gray300;
}
.font-sky {
  color: $skyBlueColor;
}

.font-danger {
  color: $dangerColor;
}
.font-success {
  color: $successColor;
}

// swiper
.swiper-button-prev,
.swiper-button-next {
  background-color: $primaryColor;
  border-radius: 28px;
  z-index: 100;
  width: 28px;
  height: 28px;
  &::after {
    color: #ffffff;
    font-size: 14px !important;
    font-weight: 700;
  }
}


